<!-- FOOTER HOME ItaliaCandele -->
<div class="footer">
  <div class="container-fluid">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 py-5 justify-content-center">
      <!-- Logo e descrizione -->
      <div class="col mb-3 text-center text-md-start">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none justify-content-center justify-content-md-start">
          <img src="{{ site.baseurl }}/assets/images/logo-white-300x76.png" alt="ItaliaCandele Logo" class="img-fluid navbar-logo" />
        </a>        
        <p class="text-center text-md-start">
          ItaliaCandele, il tuo punto di riferimento per candele artigianali di alta qualità. Scopri la nostra vasta gamma di candele profumate, decorazioni e accessori, pensati per creare l'atmosfera perfetta in ogni ambiente. Consegna veloce e un servizio clienti sempre a tua disposizione.
        </p>
      </div>

      <!-- Sezione Contatti -->
      <div class="col mb-3 text-center text-md-start">
        <h5 class="fw-bold">Contatti</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light"><i class="fa-solid fa-location-dot"></i> Via Palestro, 9, 95040 Licodia Eubea CT</a></li>
          <li class="nav-item mb-2"><a href="mailto:info@italiacandele.com" class="nav-link p-0 text-light"><i class="fa-solid fa-envelope-circle-check"></i> info@italiacandele.com</a></li>
          <li class="nav-item mb-2"><a href="tel:+XXXXXXX" class="nav-link p-0 text-light"><i class="fa-solid fa-phone"></i> XXXX XXX XXXX</a></li>
        </ul>
      </div>

      <!-- Sezione Informazioni su ItaliaCandele -->
      <div class="col mb-3 text-center text-md-start">
        <h5 class="fw-bold">Gruppo ItaliaCandele</h5>
        <p>
          ItaliaCandele SRLS è il tuo esperto di candele artigianali. Con una vasta selezione di candele profumate e decorazioni, portiamo eleganza e atmosfera nella tua casa. Offriamo prodotti di alta qualità con un servizio cliente dedicato per garantirti la migliore esperienza d'acquisto.
        </p>
      </div>

      <!-- Sezione Social -->
      <div class="col mb-3 text-center text-md-start">
        <h5 class="fw-bold">Seguici sui nostri canali social</h5>
        <ul class="list-unstyled d-flex justify-content-center justify-content-md-start">
          <li class="me-3">
            <a href="https://www.facebook.com/ItaliaCandeleit" class="text-light" aria-label="Facebook ItaliaCandele">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/ItaliaCandele_s.r.l.s/" class="text-light" aria-label="Instagram ItaliaCandele">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Linea divisoria e copyright -->
    <hr class="text-light">
    <div class="d-flex justify-content-between py-3 flex-column flex-md-row text-center text-md-start">
      <p class="mb-0">© ItaliaCandele SRL. P.IVA XXXXXXXX – Cod. Univoco XXXXX – Tutti i diritti riservati.</p>
      <p class="mb-0">Made by Antonio Trento</p>
    </div>
  </div>
</div>
