@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Variabili globali */
:root {
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-dm-sans: 'DM Sans', sans-serif;
  --font-family-sen: 'Sen', sans-serif;


/* Navbar */
.navbar {
  font-family: var(--font-family-poppins);
}

.navbar .navbar-brand {
  font-family: var(--font-family-poppins);
  font-size: 1.5rem;
}

.navbar .navbar-brand img {
  width: auto;
  height: 30px;
}

.navbar .nav-link {
  font-family: var(--font-family-poppins);
  color: #f8f9fa;
}

.navbar .nav-link:hover {
  color: #e9ecef;
}

.navbar .dropdown-menu {
  font-family: var(--font-family-poppins);
}

/* Footer */
.footer {
  background-color: #1e73be;
  color: white;
}

.footer .footer-logo {
  width: 100%;
  max-width: 300px;
}

/* Bottoni */
.btn-custom-primary {
  background-color: var(--bs-primary);
  color: white;
  border: 1px solid var(--bs-primary);
}

.btn-custom-primary:hover {
  background-color: white;
  color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}

.btn-custom-secondary {
  background-color: white;
  color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}

.btn-custom-secondary:hover {
  background-color: var(--bs-primary);
  color: white;
  border: 1px solid var(--bs-primary);
}